@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppines', sans-serif;
    
}
/* .header-general{
    width: 100%;
    height: 50px;
    background-color: aqua;
    padding-left: 100px;
    position: sticky;
    border-bottom: 1px solid #7a7a7a;
    border-top: ipx solid #7a7a7a;
}
.header-div{
    width: 90%;
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
}
.header-div span{
    color: #7a7a7a;
    padding-top: 15px;
    font-size: 15px;
} */
/* .header-div :nth-child(1){
    border-right: 1px solid #7a7a7a;
    padding-top: 10px;
    padding-right: 10px;
}
.header-div :nth-child(2){
    padding-left: 10px;
} */
 /* start of hero section */
  /* start of hero section */
.header-general-2{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;      
}
.header-div2{
    width: 95%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.header-title {
    display: flex;
    justify-content: start;
    font-size: 17px;
    
    
}
.header-title a{
    color:#1e1e1e;
    padding : 20px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    
}
.nav-links a{
    text-decoration: none;
    color: #1e1e1e;
    padding:  0 25px;

}
.nav-links a:hover{
    color: #f32555;
}
.nav-links :nth-child(5){
    border: 1px solid black;
    padding: 14px 25px ;
    border-radius: 20px;
    background-color: #1e1e1e;
    color: white;
    position: relative;
    margin-right: 10px;
    text-align: center;
}

#before-b{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f35525;
    position: absolute;
    top: -2px;
    left: -10px;   
}
#before-b i{
    padding-top: 10px;
    font-size: 25px;
    padding-left: 5px;

}
#before-b i:hover{
    color: white;
}
/* end of hero section
start of first background */
.bachground{
    background-image: url(images/page-heading-bg.jpg);
    height: 60vh;
    text-align: center;
    margin-bottom: 50px;
}
.bachground p{
    background-color: white;
    text-align: center;
    display:inline-block;
    padding: 10px 30px;
    margin-top: 200px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
}
.bachground h2{
    color: white;
    font-size: 45px;
    font-weight:900;
}
/* end of first background */
#find1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
#find1 a{
    padding: 17px 35px;
    text-decoration: none;
    color:white;
    background-color: #1e1e1e;
    border-radius: 5px;
    margin-left: 15px;
   font-weight: bold;;  
}
#find1 :nth-child(1){
    background-color: #f35525;
    color: white;

}
#find1 :nth-child(1):hover{
    color: white;
}

#find1 a:hover{
    color: #f35525;
} 
/* start of nine cards */
.property-card{
    margin-top: 20px;
    width: 93%;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 50px;
    
}
.property-details{
    width: 30%;
    border-radius: 10px;
    height: auto;
    background-color: #fafafa;
    margin-top: 50px;
    margin-left: 30px;
    padding: 40px;
    text-align: center;
}
.property-details img{
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
}
.property-details div{
    display: flex;
    justify-content: space-between;

}
.property-details p{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fbd9cf;
    margin-bottom: 30px;
}
.property-details h3{
    color: #f35525;
    margin-bottom: 30px;
}
#street{
    font-size: 18px;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    margin-top: 30px;
}
.property-details ul{
    display: flex;
    padding-top: 20px;
    list-style: none;
    flex-wrap: wrap;
    font-size: 17px;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 30px;
    margin-bottom: 50px;

}
.property-details li{
    display: inline-block;
    color: #4a4a4a;
    padding-left: 17px;
    line-height: 30px;

}
.property-details span{
    font-size: 17px;
    color: #1e1e1e;
    font-weight: 700;
}

.visit{
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 15px 30px;
    /* padding-right: 40px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    font-size: medium;
    color: #fafafa;
    text-decoration: none;
    display: inline;
    
}
.visit:hover{
    color: #f32555;
}
#circle{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    
}
.first-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1e1e1e;
    margin: 10px;
    padding-top: 10px;
}
.first-circle a{
    text-decoration: none;
    color: white;
    font-size: 18px;
   
}
.first-circle:hover{
    background-color: #f35525;
}

.first-circle:nth-child(2){
    background-color: #f35525;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer a:hover{
    opacity: 0.7;
}
@media screen and (max-width:990px) {
    #img-under-back img{
        width: 100%;
    }
    #background-img{
        padding-left: 50px;
        margin-left: 0;
    }
    .section2-general{
        flex-direction: column !important;
        width: 100% !important;
    }
    .nav-links{
        display: none !important;
    }
    .header-title a{
        display: block;
    }
     #find1{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #find1 a{
        width: 100%;
        flex-direction: row;
        margin: 0;
        padding: 15px 27px;
        font-size: 16px;
    }
    .property-details{
        width: 70%;
        margin: 0;


    }
    .property-card{
        padding: 20px;
        margin: 0;
        text-align: center;
        gap: 20px;
        /* padding-left: 70px; */
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen  and ( max-width:760px){
    .property-details{
        width: 80%;
        margin: 0;

    }
    .property-card{
        padding: 20px;
        margin: 0;
        text-align: center;
        gap: 30px;
        /* padding-left: 50px; */
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
      #footer{
        flex-direction: column;
        font-size: 16px;
    }
    #footer a{
        text-align: center;  
        flex-direction: row;

}
  #find1{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #find1 a{

        flex-direction: row;
        margin: 0;
        padding: 12px 17px;
        font-size: 15px;
    }
}


